@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-container {
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #0a0909;
    padding: 10px;
  }
  
  
  .calendar-body {
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .add-event-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .add-event-form input, .add-event-form button {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-event-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
